#cv-form{
  /* display: none; */
}

#cv-template{
  display: none;
}

.my-img{
  border-radius: 50%;
  height: 180px;
  width: 200px;
  margin: 15px 0 15px 60px;
}

.background{

}
p{
  margin-left: 20px;
}
